// out: ../css/
// 导航
.bg-body-tertiary {
    background-color: transparent !important;
    .container {
        .navbar-collapse {
            flex-grow: 0;
        }
    }
    transition-property: background-color;
    transition-duration: 0.5s;
    a {
        transition-property: color;
        transition-duration: 0.5s;
    }
}

.bg-body-tertiary.scrolled {
    background-color: black !important;
    a {
        color: white !important;
    }
}

//背景
.summary {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    /* 视频背景样式 */
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* 文字内容样式 */
    .welcome {
        z-index: 1;
        color: #000000;
        text-align: center;
        padding: 20px;    
    }
}

/* 模块样式 */
.module {
    width: 100%;
    // min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    // background-color: #fff;
    // margin-bottom: 10px;
    // opacity: 0;
    // transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;    
}

#achievements_detail:hover {
    text-decoration: underline;
}

.module.active {
    .expandable-content {
        max-height: 500px; /* 根据内容调整 */
        opacity: 1;
    }

    .expandable-content img:nth-child(1) {
        animation-delay: 0.8s;
    }
    .expandable-content img:nth-child(2) {
        animation-delay: 1.6s;
    }
    .expandable-content img:nth-child(3) {
        animation-delay: 2.4s;
    }
}

/* 抽屉式展开效果 */
.expandable-content {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

/* 图片动画效果 */
.expandable-content img {
    width: 0;
    height: 0;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    animation: imageReveal 0.5s ease forwards;
}

@keyframes imageReveal {
    to {
        width: 200px;
        height: 150px;
        opacity: 1;
        transform: scale(1);
    }
}
